autoencoder/models/
logs/
data/
data_small/
.idea/
.vscode/
__pycache__/
/data_code/master_data.xlsx
/data_code/masterdata.csv
*.ipynb_checkpoints
test-env/
deepRanking/runs/
deepRanking/map_npz/
survey/survey_images_backup/
*.pyc
detectron2segment/model_final.pth